*{
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.header{
  text-align: center;
  height: 25vh;
  background-color: rgb(12, 12, 51);
  color:rgb(196, 194, 194);
}
.main{ 
  text-align: center;
  height: 80vh;
  background-color: rgb(17, 91, 17);
  color:rgb(201, 205, 209);
  display: flex;

}
.main-left-wrapper, .main-right-wrapper{
  padding: 50px;
}
.main-title-wrapper{
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;


}
@keyframes move{
  50% {
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(-100px);

  }

  

}
.main-title{
  height: 50px;
  overflow: hidden;

}
.main-name{
  font-size: 45px;
  font-weight: 900;
}
.main-title-item{
  height: 50px;
  font-size: 30px;
  font-weight: 600;

}
.main-job{
  color: rgb(0, 0, 0);
  font-family:   Arial, Helvetica, sans-serif;
  font-style: italic; 
  font-size: 24px;
  
}

.main-left{
 flex:1;
}
.main-right{
flex:1;
}
.contact{
  border: 1px solid black;
  
  text-align: center;
}
.footer{
  text-align: center;
  height: 20vh;
  background-color: green;
}

