*{
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  text-align: center;
  height: 20vh;
  background-color: rgb(25, 25, 69);
  color:white;
  padding-top: 10px;
  display: flex;
}
.main{ 
  text-align: center;
  height: fit-content;
  /* max-height: 200vh; */
  background-color: rgba(1, 52, 1, 0.849);
  color:white;
  display: flex;

}

.main-left-wrapper, .main-right-wrapper{
  padding: 50px;
}
.main-title-wrapper{
  height: 100%;
  animation: move 20s ease-in-out infinite alternate;
  

}
.myname{
  padding: 10px;
}
@keyframes move{
  25% {
    transform: translateY(-50px);
  }
  50%{
    transform: translateY(-100px);

  }
  75%{
    transform: translateY(-150px);
  }
  100%{
    transform: translateY(-200px);
  }

}

.main-title{
  height: 50px;
  overflow: hidden;

}
.main-name{
  font-size: 45px;
  font-weight: 900;
}
.main-title-item{
  height: 50px;
  font-size: 30px;
  font-weight: 600;

}
.main-desc{
  margin-left: 11px;
  font-size: 16px;
  font-weight: bold; 
  text-align: center;
  
}
.main-job{
  
  font-family:   Arial, Helvetica, sans-serif;
  font-style: italic; 
  font-size: 24px;
  
}

.sidebar-left{
  flex:15;
  position: relative;
  left:10px;
  font-family: Tahoma, sans-serif;
  font-size: 18px;

}
.sidebar-right{
  padding:10px;
  flex:1;
  line-height: 30px;
}

.main-left{
 flex:1;
 padding-left:15px;
}
.main-right{
flex:1;
}
.project-div{
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  
  margin: 5px; 
  background-color: rgb(117, 114, 114);
  line-height: 35px;
 
}
.project-div-bg{
  padding: 10px;
  background-color:rgb(172, 169, 169);
  border-radius: 10px;
  margin: 12px; 
 
}

.contact{
  padding: 10px;
  /* border: 1px solid black; */
  background-color: rgb(79, 79, 79);
  color: white;
  
  text-align: center;
  height: 50vh;
}
.contact-form{
 
  padding: 5px;
  margin: 5px; 
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
 
 
}
.form-input{
  height:20px;
  width: 250px;
  margin: 5px;
  padding:4px;
}
.form-message{
  height: 90px;
  width: 380px;
  margin: 5px;
  padding:4px;
}
.succes-msg{
  margin:auto; 
  width: 65%; 
  border: 1px solid black;
  padding:6px;

 
}
.react-div{
margin-top:25px ;

} 
.tech-stack{
  
  margin-top:50px;
  font-family: monospace;
  font-size: 20px;
}

.react-icon{
 
  height: 62px;
 
}
.link{
  color: inherit;
  list-style: none;

}
.footer{
  text-align: center;
  height: fit-content;
  background-color: rgb(42, 49, 69);
  color: white;
  padding-bottom: 10px;
}
.footer-grid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 10px;

}
.footer-item{
  text-decoration: none;
  
}
.footer-item:visited{
text-decoration: none;
color:white;
  
}
.grid-item-footer{
  font-weight: bold;
}
.grid-item-first{
  font-weight: bold;
  padding:2px;
  margin-right: 90px;

}
.grid-item-second{
  font-weight: bold;
  padding:2px;
  margin-right: 60px;

}
.grid-item-third{
  font-weight: bold;
  padding:2px;
  margin-right: 30px;

}
.submit-button{
  width: 75px;
  padding: 6px;
  background-color: rgb(193, 192, 192);
  border-radius: 8px;
 

}
.submit-button:hover{
 
  background-color: rgb(62, 62, 62);
  color:white;


}

.container{
  width:200px;
  height:150px;
  margin:20px auto 0 auto;
  background:inherit;
  

  display:flex;
  align-items: center;
  justify-content: center;
}

.react-logo{
  display: inline-block;
  border-radius:50%;
  border:10px solid #00d8ff;

  animation-name:rotate;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.react-logo , .react-logo:before , .react-logo:after{
  position:absolute;
  display: inline-block;
  width:100px;
  height:35px;
  border-radius:50%;
  border:5px solid #00d8ff;
}

.nucleo , .react-logo , .react-logo:before , .react-logo:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nucleo{
  width:20px;
  height:20px;
  border-radius:100%;
  background:#00d8ff;
}

.react-logo:before , .react-logo:after{
  content:"";
}

.react-logo:after{
  transform:rotate(-57deg);
}

.react-logo:before{
  transform:rotate(57deg);
}

.title{
  font-size:30px;
  font-weight: bold;
  background:inherit;
  color:#00d8ff;
  width:250px;
  margin:2px auto;
  text-align:center;
}

@keyframes rotate{

  100%{
    transform:rotate(360deg);
  }
}


